NEXT_PUBLIC_SITE_URL=<your_production_or_ngrok_url>
NEXT_PUBLIC_SUPABASE_URL=<supabase_project_url>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<supabase_anon_key>
SUPABASE_SERVICE_ROLE_KEY=<supabase_service_role_key>
REPLICATE_API_TOKEN=<replicate_api_token>
UNSPLASH_ACCESS_KEY=<unsplash_access_key>
HF_FINE_TUNED_SPACE_ID=<huggingface_space_id>
HF_TOKEN=<optional_huggingface_token_for_private_space>
